@font-face {
    font-family: GilroyLight;
    src: url(../fonts/Gilroy-Light.otf);
}
@font-face {
    font-family: GilroyBold;
    src: url(../fonts/gilroy-bold.ttf);
}

body {
    font-family: GilroyLight, sans-serif;
}
.container {
    max-width: 1295px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
a {
    text-decoration: none;
}

/* --------------Header start-------------- */

.header__container {
    display: grid;
    grid-template-columns: 260px 185px 199px 331px repeat(4, 1fr);
    grid-template-rows: 90px;
}

.header__item {
    display: flex;
    border-left: 1px solid rgba(196, 196, 196, 0.5);
    height: 100%;
    align-items: center;
    justify-content: center;
}
.header__item:last-child {
    border-right: 1px solid rgba(196, 196, 196, 0.5);
}

.header__logo {
}
.header__phone {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.header__adress {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    position: relative;
    padding-right: 35px;
}
.header__adress::after {
    content: url(../images/icon/arrow-down.png);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header__button-zoom-version {
    min-width: 150px;
    background-color: #00868a;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 10px 13px 11px 51px;
    position: relative;
    transition: background-color 0.3s;
}
.header__button-zoom-version:hover {
    background-color: #009797;
}

.header__button-zoom-version::before {
    content: url(../images/icon/icon_eye.png);
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.header__link {
    margin: 0 10px;
}

/* ---------Main start--------- */

.main__section {
    padding-top: 30px;
    background-color: #4fbfa5;
}
.main__nav {
    display: flex;
    justify-items: center;
    align-items: center;
}
.main__nav-link {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-left: 60px;
    position: relative;
}
.main__nav-link::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 0;
    background-color: #fff;
    transition: width 0.3s;
}
.main__nav-link:hover::after {
    width: 100%;
}

.main__btn-reserv {
    min-width: 100px;
    padding: 10px 15px;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fff;
    margin-left: 95px;
    transition: 0.3s;
}
.main__btn-reserv:hover {
    color: #fff;
    background-color: rgb(41, 41, 41);
}

.main__wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 550px 1fr 3fr 3fr;
    grid-template-rows: 1fr 80px;
}
.main__text {
    max-width: 415px;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.main__title {
    font-family: GilroyBold;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.5;
}
.main__subtitle {
    margin-top: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}
.main__button-more {
    color: #fff;
    background-color: #00868a;
    padding: 15px 25px;
    margin-top: 40px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}
.main__button-more:hover {
    background-color: #009797;
}
.main__slider {
    position: absolute;
    left: 370px;
    bottom: 60px;
    display: flex;
}
.main-btn {
    border: 1px solid #fff;
    padding: 25px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}
.main-btn:hover {
    background-color: #34b496;
}
.main-btn__prev {
    background: url(../images/icon/arrow-prev.png) no-repeat center center;
    border-right: none;
}
.main-btn__next {
    background: url(../images/icon/arrow-next.png) no-repeat center center;
}

.main__screen {
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
}
.main__tab-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #00868a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__tab-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__tab-3 {
    display: flex;
    background-color: #00868a;
    align-items: center;
    justify-content: center;
}
.main__tab-link {
    color: #fff;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.5;
    position: relative;
}
.main__tab-link::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 0;
    background-color: #fff;
    transition: width 0.3s;
}

.main__tab-link:hover::after {
    width: 100%;
}
